{% extends "base.html.twig"%}
{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}

{% endblock %}
{% block body %}

    <div class="row about">
        <article class="article ">

            <div class="conseils_header">
                <h2 class="s-h2">Qui sommes nous
                </h2>
                <div class="about_content mb-4">
                    <p class="s-p"> <b>parieurdumonde.com</b> vise à promouvoir la responsabilité dans le jeu. Nous fournissons des informations
                        pour vous aider à prendre des décisions éclairées concernant votre jeu.
                        Nous vous engageons à jouer de manière responsable et vous proposons un certain nombre de moyens pour
                        vous aider à garder le contrôle et à prendre du plaisir. </p>
                    <p class="s-p mb-2">
                        Nous traitons  de divers sujets et contenus liés aux paris sportifs.

                        Notre site est entièrement consacré aux paris sportifs en ligne et aux besoins des parieurs.
                    </p>
                    <p class="s-p mb-2">
                        Notre plateforme vous servira de base pour les conseils,
                        les prévisions et les mises à jour des paris en ligne.
                        Fiez-vous à nos pronostics et services pour vous procurer un
                        maximum de gain.
                    </p>
                    <p class="s-p mb-2">
                        Notre site vous fournira des réponses complètes
                        et satisfaisantes sur tout ce que vous devez savoir
                        sur les paris en ligne. En un clic,
                        vous trouverez des réponses à ce qu'est un pari en ligne,
                        comment parier , quelles sont les règles
                        de pari , et plus encore. Ayez confiance en nos
                        faits et nos informations, car tous sont conçus avec des
                        recherches et des raisonnements.
                    </p>
                    <p class="s-p mb-2">
                        Notre équipe sera votre compagnon du début à la fin -
                        mais nous doutons fortement que vous arrêtiez de parier après
                        avoir suivi nos conseils , car nos
                        services contiennent sans aucun doute le meilleur guide
                        de paris en ligne.Nous mettons à votre disposition des
                        outils et ressources de paris sportifs.
                    </p>
                    <p class="s-p mb-2">
                        Laissez <b>parieurdumonde.com</b> faire partie de votre succès.
                        Connaissez notre site Web et visitez toutes les pages
                        dont vous pensez pouvoir vous aider. Pour plus de questions,
                        s'il vous plaît visitez notre page de contact.
                    </p>


                </div>

            </div>
        </article>




    </div>

{% endblock %}