{% extends 'admin_base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Create new Vip</h1>

    {{ include('vip/_form.html.twig') }}

    <a href="{{ path('vip_index') }}">back to list</a>
{% endblock %}
