{% extends "admin_base.html.twig"%}
{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}

{% endblock %}
{% block body %}
    <section class="confi">
        <div class="row about">
            <article class="article ">

                <div class="conseils_header">
                    <h2 class="s-h2">Notre politique de confidentialité
                    </h2>
                    <div class="about_content mb-4 conf">
                        <p class="s-p"> Cette politique de confidentialité régit le traitement des données personnelles
                            des utilisateurs par parieurdumonde.com sur le site Web
                            et dans le cadre des services fournis sur le site Web.</p>
                        <p class="s-p mb-2">
                            parieurdumonde.com se réserve le droit de modifier le contenu de la
                            présente politique de confidentialité afin de l’adapter à de nouvelle
                            législation ou à la jurisprudence.</p>
                        <div class="conf-list">
                            <ol><li><strong><span class="f-list">1.</span>Quels principes appliquons-nous dans le traitement de vos données
                                        personnelles?</strong>
                                    <p>Lors du traitement de vos données personnelles,
                                        nous appliquerons les principes suivants:</p>
                                    <ul>
                                        <li><span class="s-list"></span> <h4>Principe de légalité, de loyauté et de transparence:</h4><br/>
                                            <p>Nous avons
                                                toujours besoin de votre consentement pour le traitement de vos
                                                données à caractère personnel dans un ou plusieurs buts spécifiques
                                                pour lesquels vous serez informé préalablement avec une transparence
                                                totale et absolue.</p>
                                        </li>
                                        <li><span class="s-list"></span> <h4>Principe de la minimisation des données:</h4>  <p>Nous avons
                                                toujours besoin de votre consentement pour le traitement de vos
                                                données à caractère personnel dans un ou plusieurs buts spécifiques
                                                pour lesquels vous serez informé préalablement avec une transparence
                                                totale et absolue.</p></li>
                                        <li><span class="s-list"></span> <h4>Principe de limitation de la durée de conservation:</h4> <p>Nous ne
                                                conserverons que les données que vous nous avez fournies au strict
                                                nécessaire aux fins du traitement. Nous vous informerons de la période
                                                de conservation en fonction de l'objectif correspondant. De même,
                                                nous examinerons périodiquement notre base de données et procéderons
                                                à l'élimination des enregistrements qui resteront inactifs pendant un
                                                temps considérable.</p></li>
                                        <li><span class="s-list"></span> <h4>Principe d'intégrité et de confidentialité: </h4><p>Nous traiterons vos
                                                données personnelles de manière à garantir une sécurité adéquate et
                                                à ne pas compromettre la confidentialité. Nous vous informons que
                                                nous appliquons tous les moyens possibles et que nous prenons toutes
                                                les précautions nécessaires pour éviter les accès non autorisés, ainsi
                                                que l'utilisation abusive des données de nos utilisateurs par des tiers.</P></li>

                                    </ul>
                                </li>
                                <li>
                                    <strong><span class="f-list">2.</span>Comment avons-nous obtenu vos données personnelles?</strong>
                                    <p>Les données que
                                        nous traitons et stockons sur parieurdumonde.com peuvent provenir de
                                        différents endroits:</p>
                                    <ul>
                                        <li><span class="s-list"></span> Grâce à notre site Web, nous collectons,
                                            traitons et stockons les données personnelles des utilisateurs qui
                                            décident volontairement de remplir les champs obligatoires que nous
                                            avons incorporés dans le formulaire d'inscription de notre site Web.
                                            Les données requises dans ce formulaire sont: Nom d'utilisateur,
                                            mot de passe et e-mail. Nous vous informons que le mot de passe
                                            choisi par l'utilisateur reste crypté, de sorte que seul l'utilisateur
                                            soit informé de ce mot de passe.Les utilisateurs sont responsables de
                                            la véracité et de l'authenticité des données qui nous sont fournies
                                            via notre formulaire d'inscription. Ils ont également l'obligation de
                                            les tenir à jour en permanence pour éviter toute erreur de notre part.
                                            Toute manifestation fausse ou inexacte résultante des informations et
                                            données transmises via ce formulaire sera de la responsabilité de
                                            l'utilisateur</li>

                                        <li>
                                            <span class="s-list"></span>Par les e-mails reçus sur parieurdumonde.com
                                            dans ce cas, les données que nous obtenons sont: Nom de la personne de contact
                                            et adresse électronique.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <strong><span class="f-list">3.</span>Quelle est la légitimité du traitement de vos
                                        données personnelles?</strong>
                                    <p>Le consentement est le fondement juridique du
                                        traitement des données à caractère personnel collecté via le formulaire
                                        d'enregistrement. Lorsqu'il remplit ce formulaire, l'utilisateur accepte
                                        les dispositions de la présente politique de confidentialité.La base légale
                                        pour le traitement des données à caractère personnel obtenues par le biais
                                        des courriers électroniques reçus à l'adresse parieur-du-monde.com
                                        sera de répondre aux questions ou demandes formulées, sans impliquer de
                                        relation contractuelle.</p>
                                </li>
                                <li><strong><span class="f-list">4.</span>Dans quel but traitons-nous vos données personnelles?</strong>
                                    <ul>
                                        <li><span class="s-list"></span> <h4>Formulaire d'inscription:</h4>
                                            <p>Les données à caractère personnel obtenu via ce formulaire seront traitées
                                                par parieur-du-monde.com afin de gérer l'abonnement et d'autoriser
                                                l'utilisateur à participer
                                                au Forum et à utiliser les différents services proposés sur le site.</p></li>
                                        <li><span class="s-list"></span> <h4>E-mails reçus sur parieur-du-monde.com:</h4>
                                            <p>Les données personnelles collectées à partir de ces e-mails seront
                                                traitées par parieur-du-monde.com afin de
                                                répondre aux demandes de renseignements ou aux demandes formulées par
                                                les parties intéressées.</p></li>
                                        <li><span class="s-list"></span> <h4 style="margin-top: -3rem;margin-left:1.8rem">Les autres finalités pour lesquelles nous
                                                traitons vos données personnelles sont les suivantes:</h4>
                                            <ul>
                                                <li ><span class="t-list">&nbsp;</span> <p class="t-list_p">Garantir le respect des conditions d'utilisation et de la loi applicable
                                                        en développant des outils et des algorithmes permettant à ce site Internet
                                                        de garantir la confidentialité des données personnelles que nous
                                                        recueillons de nos utilisateurs.</p></li>
                                                <li><span class="t-list">&nbsp;</span><p class="t-list_p">Soutenir et améliorer les services offerts par ce site.</p></li>
                                                <li><span class="t-list">&nbsp;</span><p class="t-list_p">Au moyen de cookies, nous collectons des données
                                                        non identifiantes qui nous sont utiles pour personnaliser l'expérience de
                                                        l'utilisateur et mieux répondre à ses besoins individuels, améliorer notre
                                                        site Web, etc.</p></li>
                                                <li><span class="t-list">&nbsp;</span><p class="t-list_p">Pour gérer les réseaux sociaux dans lesquels parieurdumonde.com est
                                                        présent (Facebook, Twitter, YouTube, Instagram et Pinterest).
                                                        Le traitement des données personnelles effectuées sur les utilisateurs
                                                        qui deviennent des abonnés sur les réseaux sociaux des pages officielles
                                                        de parieur-du-monde.com sera régi par la présente section,
                                                        en plus de ces conditions d'utilisation.
                                                        La politique de confidentialité
                                                        et règles d'accès appartenant au réseau social, adaptée à chaque cas
                                                        et préalablement acceptée par l'utilisateur.Sur le site www.parieurdumonde.com,
                                                        nous traiterons
                                                        vos données afin de gérer correctement notre présence sur les réseaux sociaux,
                                                        les activités de reporting, les services, etc .
                                                        En aucun cas, nous n'utiliserons les profils des abonnés des réseaux sociaux
                                                        pour envoyer de la publicité individuellement.</p>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>


                                <li>
                                    <strong><span class="f-list">5.</span>De quelle manière et pendant combien de temps conserverons-nous vos informations personnelles?</strong>
                                    <p>Les données personnelles fournies par les utilisateurs
                                        de ApuestasDeportivas.com seront conservées dans le cadre
                                        de mesures physiques, techniques et organisationnelles afin
                                        de préserver la sécurité desdites données et de tenter de
                                        minimiser les risques de destruction accidentelle ou illégale,
                                        de perte accidentelle, d'utilisation non autorisée, d'altération.
                                        , modification, divulgation et/ou accès non autorisés, ainsi que
                                        tout autre moyen illicite de traitement de vos données.Pour ce faire,parieur-du-monde.com a
                                        mis en place suffisamment de mécanismes pour:</p>
                                    <ul>
                                        <li>
                                            <ol>
                                                <li>
                                                    <span class="s-list"></span> Garantir la confidentialité, l'intégrité, la disponibilité et la résilience
                                                    (capacité d'un système technologique à supporter et à récupérer
                                                    des catastrophes et perturbations), des systèmes permanents et
                                                    des services de traitement.
                                                </li>
                                                <li>
                                                    <span class="s-list"></span> Restaurez rapidement la disponibilité et
                                                    l'accès aux données personnelles, en cas d'incident physique ou technique.
                                                </li>
                                                <li>
                                                    <span class="s-list"></span> Vérifier, évaluer et évaluer régulièrement l'efficacité des mesures
                                                    techniques et organisationnelles mises en œuvre pour garantir la sécurité
                                                    du traitement.
                                                </li>
                                                <li>
                                                    <span class="s-list"></span> Pseudonymisation (traitement de données à caractère personnel,
                                                    de sorte que l'identité d'une personne ne puisse être reconnue sans utiliser
                                                    d'informations supplémentaires) et cryptage de données à caractère personnel.
                                                    Cependant, en tant qu'utilisateur, vous reconnaissez et acceptez que les
                                                    mesures de sécurité sur Internet ne sont pas imprenables et que les réseaux
                                                    utilisés sur Internet ne sont pas sécurisés à 100%. Ainsi, toute
                                                    communication envoyée par ce moyen peut être interceptée et/ou modifiée
                                                    par des personnes non autorisées, vous devez donc faire preuve d’une extrême
                                                    prudence.En ce qui concerne la durée de conservation des données
                                                    personnelles, celles-ci le seront tant que la relation commerciale
                                                    sera entretenue, tant que l'utilisateur ne demande pas leur suppression ou
                                                    jusqu'à ce que nous procédions à leur suppression après une longue période
                                                    d'inactivité.
                                                </li>
                                            </ol>

                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <strong><span class="f-list">6.</span>À quels destinataires vos informations personnelles
                                        seront-elles communiquées?</strong>
                                    <ul>
                                        <li>
                                            <span class="s-list"></span> Les données personnelles fournies par les
                                            utilisateurs via parieurdumonde.com ne seront pas vendues, louées,
                                            cédées et / ou échangées avec des tiers sans le consentement exprès
                                            et préalable de l'utilisateur ou en raison d'une obligation légale.
                                            Pour fournir des services strictement nécessaires au développement de
                                            l'activité de parieurdumonde.com, nous utilisons des outils
                                            sous-traités à des tiers pour gérer vos données personnelles,
                                            tels que:<br/>
                                            • Google Analytics:  service Web analytique fourni
                                            par Google, Inc., qui utilise des "cookies" pour aider parieurdumonde.com à analyser
                                            l'utilisation faite par les utilisateurs du site Web parieurdumonde.com.
                                            Les informations générées par le cookie sur son utilisation, y compris
                                            votre adresse IP, seront directement transmises et archivées par
                                            Google sur des serveurs situés aux États-Unis.
                                        </li>

                                    </ul>
                                </li>
                                <li>
                                    <strong><span class="f-list">7.</span>Législation:</strong>
                                    <ul><li>Nous nous engageons à respecter les dispositions législatives énoncées dans:
                                            Loi n* 2017-20 portant code du numérique en République du Bénin.</li></ul>
                                </li>
                            </ol>
                        </div>


                    </div>

                </div>
            </article>




        </div>
    </section>


{% endblock %}