{% extends 'admin_base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Create new ForumSujet</h1>

    {{ include('forum_sujet/_form.html.twig') }}

    <a href="{{ path('forum_sujet_index') }}">back to list</a>
{% endblock %}
