{% extends 'admin_base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Edit ForumCategorie</h1>

    {{ include('forum_categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('forum_categorie_index') }}">back to list</a>

    {{ include('forum_categorie/_delete_form.html.twig') }}
{% endblock %}
