<div class="aside_popu">
    <div class="aside_header">
        <h3 class="h2_heading">Mes vidéos</h3>
    </div>
    <div class="content" style="position: relative">

        <div class="video-li" style="display: flex;flex-direction: row;justify-content: flex-start;">
            <div class="video-lef" style="width: 60%;font-size: 12px !important;float: left;min-height:120px;
    line-height: 1.5em;"> <span></span> <a href="https://www.youtube.com/watch?v=sDFSCwWtLXY&t=405s">Comment gagner au paris sportif grâce au football virtuel en cette période de coronavirus</a>
                <span style="display: block">Si vous voulez savoir comment gagner de l'argent avec des paris sportifs sûrs, regardez attentivement cette vidéo et…</span>
            </div>
            <div class="video-rig" style="background: #0b95de;width: 40%;margin-top:  13px; "><iframe width="140" height="180" src="https://www.youtube.com/embed/sDFSCwWtLXY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>
        </div>





    </div>


</div>