<div class="headline_right">
    <form method="GET" action="/search">
        <input type="search" placeholder="Recherche" maxlength="45" pattern="[A-z0-9_ \-]{2,45}" name="kw"  required/>
        <button>
            <i class="fa fa-search"></i>
            <i class="fa fa-search"></i>

        </button>
    </form>

</div>